#binDiv{
    position: absolute;
    height: 50vh;
    width: 100vw;
    top: 50vh;
    background: url('assets/bin.png');
    background-size: 50vh, 100vw;
    opacity: 0;
}
#textDiv{
    position: absolute;
    height: 50vh;
    width: 100vw;
    top: 25vh;
    text-align: center;
    word-wrap: break-word;
    font-weight: normal;
    opacity: 0;
}
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@keyframes fadeOut {
    0% {
    opacity:1;
    }
    100% {
    opacity:0;
    }
}

@keyframes fadeInOut {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }