#binDiv{
    position: absolute;
    height: 100vmin;
    width: 100%;
    top: 60vmin;
    background: url('assets/bin.png');
    background-size: 100vmin, 100vmin;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
}
#textDiv{
    position: absolute;
    height: 20vmin;
    width: 100%;
    top: 10vmin;
    text-align: center;
    word-wrap: break-word;
    font-weight: normal;
    opacity: 0;
}
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@keyframes fadeOut {
    0% {
    opacity:1;
    }
    100% {
    opacity:0;
    }
}

@keyframes fadeInOut {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }